<a href="https://colab.research.google.com/github/akku4503/pysparknew/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("hello World")

hello World

## linux basic

In [4]:
!cat /etc/os-release

PRETTY_NAME="Ubuntu 22.04.4 LTS"
NAME="Ubuntu"
VERSION_ID="22.04"
VERSION="22.04.4 LTS (Jammy Jellyfish)"
VERSION_CODENAME=jammy
ID=ubuntu
ID_LIKE=debian
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
UBUNTU_CODENAME=jammy

In [5]:
!whoami

root

In [6]:
!pwd

/content

spark session

In [7]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [8]:
!pip show pyspark

Name: pyspark
Version: 3.5.1
Summary: Apache Spark Python API
Home-page: https://github.com/apache/spark/tree/master/python
Author: Spark Developers
Author-email: dev@spark.apache.org
License: http://www.apache.org/licenses/LICENSE-2.0
Location: /usr/local/lib/python3.11/dist-packages
Requires: py4j
Required-by: dataproc-spark-connect

In [9]:
!pyspark --version

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 3.5.1
      /_/

Using Scala version 2.12.18, OpenJDK 64-Bit Server VM, 11.0.27
Branch HEAD
Compiled by user heartsavior on 2024-02-15T11:24:58Z
Revision fd86f85e181fc2dc0f50a096855acf83a6cc5d9c
Url https://github.com/apache/spark
Type --help for more information.

In [10]:
!from pyspark.sql import sparkSession

/bin/bash: line 1: from: command not found

In [14]:
from pyspark.sql import SparkSession

In [15]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [16]:
# Create dataframe
data = [("Hello", "World")]
columns = ["Word1", "Word2"]
df = spark.createDataFrame(data, columns)

In [17]:
df.show()

+-----+-----+
|Word1|Word2|
+-----+-----+
|Hello|World|
+-----+-----+

Basic Transformation and Actions

In [26]:
columns = ["Name","Department","Salary"]
data = [
    ("John", "Sales", 3000),
    ("Jane", "Finance", 4000),
    ("Mike", "Sales", 3500),
    ("Alice", "Finance", 3800),
    ("Bob", "IT", 4500)
]
df = spark.createDataFrame(data,columns)
df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [27]:
# Filter: Employees with salary > 3500
df_filtered = df.filter(df.Salary > 3500)
df_filtered.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| Jane|   Finance|  4000|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [28]:
df_filtered = df.groupBy("Department").avg("Salary")
df_filtered.show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [32]:
# add a new column : salary with bouns (10%)
from pyspark.sql.functions import col
exp=col("Salary")*1.1
df_with_bouns = df.withColumn("Salary_10%_Bouns",exp)
df_with_bouns.show()

+-----+----------+------+------------------+
| Name|Department|Salary|  Salary_10%_Bouns|
+-----+----------+------+------------------+
| John|     Sales|  3000|3300.0000000000005|
| Jane|   Finance|  4000|            4400.0|
| Mike|     Sales|  3500|3850.0000000000005|
|Alice|   Finance|  3800|            4180.0|
|  Bob|        IT|  4500|            4950.0|
+-----+----------+------+------------------+

In [33]:
from pyspark.sql.functions import col,upper, lower, concat_ws,length,when

df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [34]:
df_upper = df.withColumn("Name_upper",upper(col("Name")))
df_lower = df.withColumn("Name_lower",lower(col("Name")))
df_upper.show()
df_lower.show()

+-----+----------+------+----------+
| Name|Department|Salary|Name_upper|
+-----+----------+------+----------+
| John|     Sales|  3000|      JOHN|
| Jane|   Finance|  4000|      JANE|
| Mike|     Sales|  3500|      MIKE|
|Alice|   Finance|  3800|     ALICE|
|  Bob|        IT|  4500|       BOB|
+-----+----------+------+----------+

+-----+----------+------+----------+
| Name|Department|Salary|Name_lower|
+-----+----------+------+----------+
| John|     Sales|  3000|      john|
| Jane|   Finance|  4000|      jane|
| Mike|     Sales|  3500|      mike|
|Alice|   Finance|  3800|     alice|
|  Bob|        IT|  4500|       bob|
+-----+----------+------+----------+

In [35]:
#concatenate colomns
df = df.withColumn("Status",
        when(col("Salary") >= 50000, "High")
       .when((col("Salary") >= 30000) & (col("Salary") < 50000), "Medium")
       .otherwise("Low")
)
df.show()

+-----+----------+------+-------------+
| Name|Department|Salary|    full_info|
+-----+----------+------+-------------+
| John|     Sales|  3000|   John_Sales|
| Jane|   Finance|  4000| Jane_Finance|
| Mike|     Sales|  3500|   Mike_Sales|
|Alice|   Finance|  3800|Alice_Finance|
|  Bob|        IT|  4500|       Bob_IT|
+-----+----------+------+-------------+

In [36]:
# String length of Names in New DF
df_length = df.withColumn("Name_Length", length(col("Name")))
df_length.show()

+-----+----------+------+-----------+
| Name|Department|Salary|Name_Length|
+-----+----------+------+-----------+
| John|     Sales|  3000|          4|
| Jane|   Finance|  4000|          4|
| Mike|     Sales|  3500|          4|
|Alice|   Finance|  3800|          5|
|  Bob|        IT|  4500|          3|
+-----+----------+------+-----------+

In [39]:
# condtionalcolums (salary, cateoery)
df = df.withColumn("Status",
        when(col("Salary") >= 50000, "High")
       .when((col("Salary") >= 30000) & (col("Salary") < 50000), "Medium")
       .otherwise("Low")
)
df.show()

+-----+----------+------+------+
| Name|Department|Salary|Status|
+-----+----------+------+------+
| John|     Sales|  3000|   Low|
| Jane|   Finance|  4000|   Low|
| Mike|     Sales|  3500|   Low|
|Alice|   Finance|  3800|   Low|
|  Bob|        IT|  4500|   Low|
+-----+----------+------+------+

In [41]:
df = df.withColumnRenamed("Salary", "Base_Salary")
df.show()

+-----+----------+-----------+------+
| Name|Department|Base_Salary|Status|
+-----+----------+-----------+------+
| John|     Sales|       3000|   Low|
| Jane|   Finance|       4000|   Low|
| Mike|     Sales|       3500|   Low|
|Alice|   Finance|       3800|   Low|
|  Bob|        IT|       4500|   Low|
+-----+----------+-----------+------+