<a href="https://colab.research.google.com/github/akku4503/pysparknew/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello World")

hello World

## linux basic

In [ ]:
!cat /etc/os-release

PRETTY_NAME="Ubuntu 22.04.4 LTS"
NAME="Ubuntu"
VERSION_ID="22.04"
VERSION="22.04.4 LTS (Jammy Jellyfish)"
VERSION_CODENAME=jammy
ID=ubuntu
ID_LIKE=debian
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
UBUNTU_CODENAME=jammy

In [ ]:
!whoami

root

In [ ]:
!pwd

/content

spark session

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
!pip show pyspark

Name: pyspark
Version: 3.5.1
Summary: Apache Spark Python API
Home-page: https://github.com/apache/spark/tree/master/python
Author: Spark Developers
Author-email: dev@spark.apache.org
License: http://www.apache.org/licenses/LICENSE-2.0
Location: /usr/local/lib/python3.11/dist-packages
Requires: py4j
Required-by: dataproc-spark-connect

In [ ]:
!pyspark --version

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 3.5.1
      /_/

Using Scala version 2.12.18, OpenJDK 64-Bit Server VM, 11.0.27
Branch HEAD
Compiled by user heartsavior on 2024-02-15T11:24:58Z
Revision fd86f85e181fc2dc0f50a096855acf83a6cc5d9c
Url https://github.com/apache/spark
Type --help for more information.

In [ ]:
!from pyspark.sql import sparkSession

/bin/bash: line 1: from: command not found

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [ ]:
# Create dataframe
data = [("Hello", "World")]
columns = ["Word1", "Word2"]
df = spark.createDataFrame(data, columns)

In [ ]:
df.show()

+-----+-----+
|Word1|Word2|
+-----+-----+
|Hello|World|
+-----+-----+

Basic Transformation and Actions

In [ ]:
columns = ["Name","Department","Salary"]
data = [
    ("John", "Sales", 3000),
    ("Jane", "Finance", 4000),
    ("Mike", "Sales", 3500),
    ("Alice", "Finance", 3800),
    ("Bob", "IT", 4500)
]
df = spark.createDataFrame(data,columns)
df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
# Filter: Employees with salary > 3500
df_filtered = df.filter(df.Salary > 3500)
df_filtered.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| Jane|   Finance|  4000|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
df_filtered = df.groupBy("Department").avg("Salary")
df_filtered.show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [ ]:
# add a new column : salary with bouns (10%)
from pyspark.sql.functions import col
exp=col("Salary")*1.1
df_with_bouns = df.withColumn("Salary_10%_Bouns",exp)
df_with_bouns.show()

+-----+----------+------+------------------+
| Name|Department|Salary|  Salary_10%_Bouns|
+-----+----------+------+------------------+
| John|     Sales|  3000|3300.0000000000005|
| Jane|   Finance|  4000|            4400.0|
| Mike|     Sales|  3500|3850.0000000000005|
|Alice|   Finance|  3800|            4180.0|
|  Bob|        IT|  4500|            4950.0|
+-----+----------+------+------------------+

In [ ]:
from pyspark.sql.functions import col,upper, lower, concat_ws,length,when

df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
df_upper = df.withColumn("Name_upper",upper(col("Name")))
df_lower = df.withColumn("Name_lower",lower(col("Name")))
df_upper.show()
df_lower.show()

+-----+----------+------+----------+
| Name|Department|Salary|Name_upper|
+-----+----------+------+----------+
| John|     Sales|  3000|      JOHN|
| Jane|   Finance|  4000|      JANE|
| Mike|     Sales|  3500|      MIKE|
|Alice|   Finance|  3800|     ALICE|
|  Bob|        IT|  4500|       BOB|
+-----+----------+------+----------+

+-----+----------+------+----------+
| Name|Department|Salary|Name_lower|
+-----+----------+------+----------+
| John|     Sales|  3000|      john|
| Jane|   Finance|  4000|      jane|
| Mike|     Sales|  3500|      mike|
|Alice|   Finance|  3800|     alice|
|  Bob|        IT|  4500|       bob|
+-----+----------+------+----------+

In [ ]:
#concatenate colomns
df = df.withColumn("Status",
        when(col("Salary") >= 50000, "High")
       .when((col("Salary") >= 30000) & (col("Salary") < 50000), "Medium")
       .otherwise("Low")
)
df.show()

+-----+----------+------+-------------+
| Name|Department|Salary|    full_info|
+-----+----------+------+-------------+
| John|     Sales|  3000|   John_Sales|
| Jane|   Finance|  4000| Jane_Finance|
| Mike|     Sales|  3500|   Mike_Sales|
|Alice|   Finance|  3800|Alice_Finance|
|  Bob|        IT|  4500|       Bob_IT|
+-----+----------+------+-------------+

In [ ]:
# String length of Names in New DF
df_length = df.withColumn("Name_Length", length(col("Name")))
df_length.show()

+-----+----------+------+-----------+
| Name|Department|Salary|Name_Length|
+-----+----------+------+-----------+
| John|     Sales|  3000|          4|
| Jane|   Finance|  4000|          4|
| Mike|     Sales|  3500|          4|
|Alice|   Finance|  3800|          5|
|  Bob|        IT|  4500|          3|
+-----+----------+------+-----------+

In [ ]:
# condtionalcolums (salary, cateoery)
df = df.withColumn("Status",
        when(col("Salary") >= 50000, "High")
       .when((col("Salary") >= 30000) & (col("Salary") < 50000), "Medium")
       .otherwise("Low")
)
df.show()

+-----+----------+------+------+
| Name|Department|Salary|Status|
+-----+----------+------+------+
| John|     Sales|  3000|   Low|
| Jane|   Finance|  4000|   Low|
| Mike|     Sales|  3500|   Low|
|Alice|   Finance|  3800|   Low|
|  Bob|        IT|  4500|   Low|
+-----+----------+------+------+

In [ ]:
df = df.withColumnRenamed("Salary", "Base_Salary")
df.show()

+-----+----------+-----------+------+
| Name|Department|Base_Salary|Status|
+-----+----------+-----------+------+
| John|     Sales|       3000|   Low|
| Jane|   Finance|       4000|   Low|
| Mike|     Sales|       3500|   Low|
|Alice|   Finance|       3800|   Low|
|  Bob|        IT|       4500|   Low|
+-----+----------+-----------+------+

Advance level Transpotation and Action

In [ ]:
df = df.withColumnRenamed("Salary", "Base_Salary")
df.show()

+-----+----------+-----------+------+
| Name|Department|Base_Salary|Status|
+-----+----------+-----------+------+
| John|     Sales|       3000|   Low|
| Jane|   Finance|       4000|   Low|
| Mike|     Sales|       3500|   Low|
|Alice|   Finance|       3800|   Low|
|  Bob|        IT|       4500|   Low|
+-----+----------+-----------+------+

In [ ]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName("Basics").getOrCreate()
columns = ["Name","Department","Salary"]
data = [
    ("John", "Sales", 3000),
    ("Jane", "Finance", 4000),
    ("Mike", "Sales", 3500),
    ("Alice", "Finance", 3800),
    ("Bob", "IT", 4500)
]

df = spark.createDataFrame(data, columns)

In [ ]:


df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
df.groupBy("Department").count().show()

+----------+-----+
|Department|count|
+----------+-----+
|     Sales|    2|
|   Finance|    2|
|        IT|    1|
+----------+-----+

In [ ]:
df.groupBy("Department").avg("Salary").show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [ ]:
from pyspark.sql.functions import avg, max, min, sum, count

In [ ]:
df.groupBy("Department").agg(
    avg("Salary").alias("avg_salary"),
    max("Salary").alias("max_salary"),
    min("Salary").alias("min_salary"),
    sum("Salary").alias("total_salary"),
    count("*").alias("employee_count")
).show()

+----------+----------+----------+----------+------------+--------------+
|Department|avg_salary|max_salary|min_salary|total_salary|employee_count|
+----------+----------+----------+----------+------------+--------------+
|     Sales|    3250.0|      3500|      3000|        6500|             2|
|   Finance|    3900.0|      4000|      3800|        7800|             2|
|        IT|    4500.0|      4500|      4500|        4500|             1|
+----------+----------+----------+----------+------------+--------------+

In [ ]:
df.groupBy("Department").agg(
    avg("Salary").alias("avg_salary"),
    max("Salary").alias("max_salary"),
    min("Salary").alias("min_salary"),

).show()

+----------+----------+----------+----------+
|Department|avg_salary|max_salary|min_salary|
+----------+----------+----------+----------+
|     Sales|    3250.0|      3500|      3000|
|   Finance|    3900.0|      4000|      3800|
|        IT|    4500.0|      4500|      4500|
+----------+----------+----------+----------+

In [ ]:
# Create another DataFrame for department info
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C")
]
dept_columns = ["Department", "Location"]

In [ ]:
# Create another DataFrame for department info
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C")
]
dept_columns = ["Department", "Location"]

In [ ]:
df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
dept_df =spark.createDataFrame(dept_data, dept_columns)
# Join employee data with department info
joined_df = df.join(dept_df, on="Department", how="inner")
joined_df.show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|   Finance| Jane|  4000|Building B|
|   Finance|Alice|  3800|Building B|
|        IT|  Bob|  4500|Building C|
|     Sales| John|  3000|Building A|
|     Sales| Mike|  3500|Building A|
+----------+-----+------+----------+

In [ ]:
dept_df.show()

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
+----------+----------+

In [ ]:
dept_df =spark.createDataFrame(dept_data, dept_columns)
# Join employee data with department info
joined_df = df.join(dept_df, on="Department", how="left")
joined_df.show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|     Sales| John|  3000|Building A|
|   Finance| Jane|  4000|Building B|
|     Sales| Mike|  3500|Building A|
|   Finance|Alice|  3800|Building B|
|        IT|  Bob|  4500|Building C|
+----------+-----+------+----------+

In [ ]:
dept_df =spark.createDataFrame(dept_data, dept_columns)
# Join employee data with department info
joined_df = df.join(dept_df, on="Department", how="right")
joined_df.show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|     Sales| Mike|  3500|Building A|
|     Sales| John|  3000|Building A|
|   Finance|Alice|  3800|Building B|
|   Finance| Jane|  4000|Building B|
|        IT|  Bob|  4500|Building C|
+----------+-----+------+----------+

In [ ]:
dept_df =spark.createDataFrame(dept_data, dept_columns)
# Join employee data with department info
joined_df = df.join(dept_df, on="Department", how="full")
joined_df.show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|   Finance| Jane|  4000|Building B|
|   Finance|Alice|  3800|Building B|
|        IT|  Bob|  4500|Building C|
|     Sales| John|  3000|Building A|
|     Sales| Mike|  3500|Building A|
+----------+-----+------+----------+

In [ ]:
# Employee DataFrame
emp_data = [
    (1, "John", "Sales", 3000),
    (2, "Jane", "Finance", 4000),
    (3, "Mike", "Sales", 3500),
    (4, "Alice", "HR", 3800),
    (5, "Bob", "IT", 4500),
    (6, "Sam", "Support", 3200)
]
emp_cols = ["EmpID", "Name", "Department", "Salary"]
emp_df = spark.createDataFrame(emp_data, emp_cols)

# Department DataFrame
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C"),
    ("Admin", "Building D")
]
dept_cols = ["Department", "Location"]
dept_df = spark.createDataFrame(dept_data, dept_cols)

# Display both
emp_df.show()
dept_df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1| John|     Sales|  3000|
|    2| Jane|   Finance|  4000|
|    3| Mike|     Sales|  3500|
|    4|Alice|        HR|  3800|
|    5|  Bob|        IT|  4500|
|    6|  Sam|   Support|  3200|
+-----+-----+----------+------+

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
|     Admin|Building D|
+----------+----------+

In [ ]:
joined_df = df.join(dept_df, on="Department", how="inner")
joined_df.show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|   Finance| Jane|  4000|Building B|
|   Finance|Alice|  3800|Building B|
|        IT|  Bob|  4500|Building C|
|     Sales| John|  3000|Building A|
|     Sales| Mike|  3500|Building A|
+----------+-----+------+----------+

In [ ]:
emp_df = df.join(dept_df, on="Department", how="left").show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|     Sales| John|  3000|Building A|
|   Finance| Jane|  4000|Building B|
|     Sales| Mike|  3500|Building A|
|   Finance|Alice|  3800|Building B|
|        IT|  Bob|  4500|Building C|
+----------+-----+------+----------+

In [ ]:
emp_df = df.join(dept_df, on="Department", how="right").show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|     Sales| Mike|  3500|Building A|
|     Sales| John|  3000|Building A|
|   Finance|Alice|  3800|Building B|
|   Finance| Jane|  4000|Building B|
|     Admin| NULL|  NULL|Building D|
|        IT|  Bob|  4500|Building C|
+----------+-----+------+----------+

In [ ]:
# Employee DataFrame
emp_data = [
    (1, "John", "Sales", 3000),
    (2, "Jane", "Finance", 4000),
    (3, "Mike", "Sales", 3500),
    (4, "Alice", "HR", 3800),
    (5, "Bob", "IT", 4500),
    (6, "Sam", "Support", 3200)
]
emp_cols = ["EmpID", "Name", "Department", "Salary"]
emp_df = spark.createDataFrame(emp_data, emp_cols)

# Department DataFrame
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C"),
    ("Admin", "Building D")
]
dept_cols = ["Department", "Location"]
dept_df = spark.createDataFrame(dept_data, dept_cols)

# Display both
emp_df.show()
dept_df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1| John|     Sales|  3000|
|    2| Jane|   Finance|  4000|
|    3| Mike|     Sales|  3500|
|    4|Alice|        HR|  3800|
|    5|  Bob|        IT|  4500|
|    6|  Sam|   Support|  3200|
+-----+-----+----------+------+

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
|     Admin|Building D|
+----------+----------+

In [ ]:
# Perfom Right Join (All Employees, Dept Info if Exists)
emp_df.join(dept_df, on="Department", how="right").show()

+----------+-----+----+------+----------+
|Department|EmpID|Name|Salary|  Location|
+----------+-----+----+------+----------+
|     Sales|    3|Mike|  3500|Building A|
|     Sales|    1|John|  3000|Building A|
|   Finance|    2|Jane|  4000|Building B|
|     Admin| NULL|NULL|  NULL|Building D|
|        IT|    5| Bob|  4500|Building C|
+----------+-----+----+------+----------+

Use Case Study Project

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, avg, count, max, month, to_date, expr, desc, first, last, when
from pyspark.sql.types import *

# Create Spark session
spark = SparkSession.builder.appName("SalesAnalysis").getOrCreate()

# Sample Sales Data
sales_data = [
    (1001, 101, 501, "2025-07-10 08:23:00", 3, 25.5),
    (1002, 102, 502, "2025-07-11 09:45:00", 2, 15.0),
    (1003, 103, 503, "2025-07-12 10:15:00", 1, 30.0),
    (1004, 101, 504, "2025-07-13 12:20:00", 5, 25.5),
    (1005, 105, 505, "2025-07-14 14:35:00", 10, 45.0),
    (1006, 102, 506, "2025-07-15 16:00:00", 4, 15.0)
]

sales_schema = StructType([
    StructField("sale_id", IntegerType()),
    StructField("product_id", IntegerType()),
    StructField("customer_id", IntegerType()),
    StructField("sale_date", StringType()),
    StructField("quantity", IntegerType()),
    StructField("price", FloatType())
])

sales_df = spark.createDataFrame(sales_data, schema=sales_schema)

# Product Data
product_data = [
    (101, "Widget A", "Gadgets"),
    (102, "Widget B", "Gadgets"),
    (103, "Widget C", "Electronics"),
    (104, "Widget D", "Electronics"),
    (105, "Widget E", "Home & Living")
]

product_df = spark.createDataFrame(product_data, ["product_id", "product_name", "category"])

# Customer Data
customer_data = [
    (501, "Alice", "alice@example.com", "2025-05-20 10:10:00"),
    (502, "Bob", "bob@example.com", "2025-06-15 14:00:00"),
    (503, "Charlie", "charlie@example.com", "2025-04-05 09:50:00"),
    (504, "David", "david@example.com", "2025-07-01 12:25:00"),
    (505, "Emma", "emma@example.com", "2025-07-10 15:30:00"),
    (506, "Frank", "frank@example.com", "2025-03-23 17:00:00")
]

customer_df = spark.createDataFrame(customer_data, ["customer_id", "customer_name", "email", "join_date"])

In [ ]:
sales_df.withColumn("revenue", col("quantity") * col("price")) \
    .groupBy("product_id") \
    .agg(sum("revenue").alias("total_revenue")) \
    .orderBy("total_revenue", ascending=False).show()

+----------+-------------+
|product_id|total_revenue|
+----------+-------------+
|       105|        450.0|
|       101|        204.0|
|       102|         90.0|
|       103|         30.0|
+----------+-------------+

In [ ]:
#Total Quantity Sold per Customer
sales_df.groupBy("customer_id") \
    .agg(sum("quantity").alias("total_quantity")) \
    .show()

+-----------+--------------+
|customer_id|total_quantity|
+-----------+--------------+
|        501|             3|
|        502|             2|
|        503|             1|
|        504|             5|
|        505|            10|
|        506|             4|
+-----------+--------------+

In [ ]:
#Average Revenue per Customer
sales_df.withColumn("revenue", col("quantity") * col("price")) \
    .groupBy("customer_id") \
    .agg(avg("revenue").alias("avg_revenue")) \
    .show()

+-----------+-----------+
|customer_id|avg_revenue|
+-----------+-----------+
|        501|       76.5|
|        502|       30.0|
|        503|       30.0|
|        504|      127.5|
|        505|      450.0|
|        506|       60.0|
+-----------+-----------+

In [ ]:
#Monthly Sales Total
sales_df.withColumn("sale_month", month(to_date("sale_date"))) \
    .withColumn("revenue", col("quantity") * col("price")) \
    .groupBy("sale_month") \
    .agg(sum("revenue").alias("monthly_total")) \
    .show()

+----------+-------------+
|sale_month|monthly_total|
+----------+-------------+
|         7|        774.0|
+----------+-------------+

In [ ]:
# Count of Sales per Category
sales_with_category = sales_df.join(product_df, "product_id")
sales_with_category.groupBy("category").agg(count("*").alias("sales_count")).show()

+-------------+-----------+
|     category|sales_count|
+-------------+-----------+
|  Electronics|          1|
|      Gadgets|          4|
|Home & Living|          1|
+-------------+-----------+

In [ ]:
#Top 3 Most Expensive Products (by Revenue)
sales_df.withColumn("revenue", col("quantity") * col("price")) \
    .groupBy("product_id") \
    .agg(sum("revenue").alias("total_revenue")) \
    .join(product_df, "product_id") \
    .orderBy(desc("total_revenue")) \
    .limit(3).show()

+----------+-------------+------------+-------------+
|product_id|total_revenue|product_name|     category|
+----------+-------------+------------+-------------+
|       105|        450.0|    Widget E|Home & Living|
|       101|        204.0|    Widget A|      Gadgets|
|       102|         90.0|    Widget B|      Gadgets|
+----------+-------------+------------+-------------+

In [ ]:
# Join Sales with Product Info

sales_with_product = sales_df.join(product_df, "product_id")
sales_with_product.select("sale_id", "product_name", "category", "quantity", "price").show()

+-------+------------+-------------+--------+-----+
|sale_id|product_name|     category|quantity|price|
+-------+------------+-------------+--------+-----+
|   1001|    Widget A|      Gadgets|       3| 25.5|
|   1004|    Widget A|      Gadgets|       5| 25.5|
|   1002|    Widget B|      Gadgets|       2| 15.0|
|   1006|    Widget B|      Gadgets|       4| 15.0|
|   1003|    Widget C|  Electronics|       1| 30.0|
|   1005|    Widget E|Home & Living|      10| 45.0|
+-------+------------+-------------+--------+-----+

In [ ]:
# Join Sales with Customer Info
sales_with_customer = sales_df.join(customer_df, "customer_id")
sales_with_customer.select("sale_id", "customer_name", "email", "sale_date", "quantity", "price").show()

+-------+-------------+-------------------+-------------------+--------+-----+
|sale_id|customer_name|              email|          sale_date|quantity|price|
+-------+-------------+-------------------+-------------------+--------+-----+
|   1001|        Alice|  alice@example.com|2025-07-10 08:23:00|       3| 25.5|
|   1002|          Bob|    bob@example.com|2025-07-11 09:45:00|       2| 15.0|
|   1003|      Charlie|charlie@example.com|2025-07-12 10:15:00|       1| 30.0|
|   1004|        David|  david@example.com|2025-07-13 12:20:00|       5| 25.5|
|   1005|         Emma|   emma@example.com|2025-07-14 14:35:00|      10| 45.0|
|   1006|        Frank|  frank@example.com|2025-07-15 16:00:00|       4| 15.0|
+-------+-------------+-------------------+-------------------+--------+-----+

In [ ]:
#Inner Join: Sales + Products (Gadgets only)
sales_df.join(product_df.filter(col("category") == "Gadgets"), "product_id", "inner").show()

+----------+-------+-----------+-------------------+--------+-----+------------+--------+
|product_id|sale_id|customer_id|          sale_date|quantity|price|product_name|category|
+----------+-------+-----------+-------------------+--------+-----+------------+--------+
|       101|   1001|        501|2025-07-10 08:23:00|       3| 25.5|    Widget A| Gadgets|
|       101|   1004|        504|2025-07-13 12:20:00|       5| 25.5|    Widget A| Gadgets|
|       102|   1002|        502|2025-07-11 09:45:00|       2| 15.0|    Widget B| Gadgets|
|       102|   1006|        506|2025-07-15 16:00:00|       4| 15.0|    Widget B| Gadgets|
+----------+-------+-----------+-------------------+--------+-----+------------+--------+

In [ ]:
#Left Join: All Sales + Product Info (even unmatched)
sales_df.join(product_df, "product_id", "left").show()

+----------+-------+-----------+-------------------+--------+-----+------------+-------------+
|product_id|sale_id|customer_id|          sale_date|quantity|price|product_name|     category|
+----------+-------+-----------+-------------------+--------+-----+------------+-------------+
|       103|   1003|        503|2025-07-12 10:15:00|       1| 30.0|    Widget C|  Electronics|
|       101|   1001|        501|2025-07-10 08:23:00|       3| 25.5|    Widget A|      Gadgets|
|       102|   1002|        502|2025-07-11 09:45:00|       2| 15.0|    Widget B|      Gadgets|
|       105|   1005|        505|2025-07-14 14:35:00|      10| 45.0|    Widget E|Home & Living|
|       101|   1004|        504|2025-07-13 12:20:00|       5| 25.5|    Widget A|      Gadgets|
|       102|   1006|        506|2025-07-15 16:00:00|       4| 15.0|    Widget B|      Gadgets|
+----------+-------+-----------+-------------------+--------+-----+------------+-------------+

In [ ]:
#Full Outer Join: Sales + Products
sales_df.join(product_df, "product_id", "outer").show()

+----------+-------+-----------+-------------------+--------+-----+------------+-------------+
|product_id|sale_id|customer_id|          sale_date|quantity|price|product_name|     category|
+----------+-------+-----------+-------------------+--------+-----+------------+-------------+
|       101|   1001|        501|2025-07-10 08:23:00|       3| 25.5|    Widget A|      Gadgets|
|       101|   1004|        504|2025-07-13 12:20:00|       5| 25.5|    Widget A|      Gadgets|
|       102|   1002|        502|2025-07-11 09:45:00|       2| 15.0|    Widget B|      Gadgets|
|       102|   1006|        506|2025-07-15 16:00:00|       4| 15.0|    Widget B|      Gadgets|
|       103|   1003|        503|2025-07-12 10:15:00|       1| 30.0|    Widget C|  Electronics|
|       104|   NULL|       NULL|               NULL|    NULL| NULL|    Widget D|  Electronics|
|       105|   1005|        505|2025-07-14 14:35:00|      10| 45.0|    Widget E|Home & Living|
+----------+-------+-----------+-------------------+--------+-----+------------+-------------+

In [ ]:
#Self-Join: Compare Sales of Same Product
sales1 = sales_df.alias("s1")
sales2 = sales_df.alias("s2")

sales1.join(sales2, (col("s1.product_id") == col("s2.product_id")) & (col("s1.sale_date") < col("s2.sale_date"))) \
      .select(col("s1.sale_id"), col("s2.sale_id"), col("s1.product_id"), col("s1.sale_date"), col("s2.sale_date")) \
      .show()

+-------+-------+----------+-------------------+-------------------+
|sale_id|sale_id|product_id|          sale_date|          sale_date|
+-------+-------+----------+-------------------+-------------------+
|   1001|   1004|       101|2025-07-10 08:23:00|2025-07-13 12:20:00|
|   1002|   1006|       102|2025-07-11 09:45:00|2025-07-15 16:00:00|
+-------+-------+----------+-------------------+-------------------+

In [ ]:
#Join All 3 Tables
sales_df.join(product_df, "product_id") \
        .join(customer_df, "customer_id") \
        .select("sale_id", "customer_name", "product_name", "category", "quantity", "price", "sale_date") \
        .show()

+-------+-------------+------------+-------------+--------+-----+-------------------+
|sale_id|customer_name|product_name|     category|quantity|price|          sale_date|
+-------+-------------+------------+-------------+--------+-----+-------------------+
|   1002|          Bob|    Widget B|      Gadgets|       2| 15.0|2025-07-11 09:45:00|
|   1001|        Alice|    Widget A|      Gadgets|       3| 25.5|2025-07-10 08:23:00|
|   1003|      Charlie|    Widget C|  Electronics|       1| 30.0|2025-07-12 10:15:00|
|   1004|        David|    Widget A|      Gadgets|       5| 25.5|2025-07-13 12:20:00|
|   1006|        Frank|    Widget B|      Gadgets|       4| 15.0|2025-07-15 16:00:00|
|   1005|         Emma|    Widget E|Home & Living|      10| 45.0|2025-07-14 14:35:00|
+-------+-------------+------------+-------------+--------+-----+-------------------+

In [ ]:
# Filter Sales Between Specific Dates
sales_df.filter((col("sale_date") >= "2025-07-10") & (col("sale_date") <= "2025-07-15")).show()

+-------+----------+-----------+-------------------+--------+-----+
|sale_id|product_id|customer_id|          sale_date|quantity|price|
+-------+----------+-----------+-------------------+--------+-----+
|   1001|       101|        501|2025-07-10 08:23:00|       3| 25.5|
|   1002|       102|        502|2025-07-11 09:45:00|       2| 15.0|
|   1003|       103|        503|2025-07-12 10:15:00|       1| 30.0|
|   1004|       101|        504|2025-07-13 12:20:00|       5| 25.5|
|   1005|       105|        505|2025-07-14 14:35:00|      10| 45.0|
+-------+----------+-----------+-------------------+--------+-----+

In [ ]:
sales_df.withColumn("spend", col("quantity") * col("price")) \
    .groupBy("customer_id") \
    .agg(sum("spend").alias("total_spend")) \
    .join(customer_df, "customer_id") \
    .orderBy(desc("total_spend")) \
    .limit(5).show()

+-----------+-----------+-------------+-----------------+-------------------+
|customer_id|total_spend|customer_name|            email|          join_date|
+-----------+-----------+-------------+-----------------+-------------------+
|        505|      450.0|         Emma| emma@example.com|2025-07-10 15:30:00|
|        504|      127.5|        David|david@example.com|2025-07-01 12:25:00|
|        501|       76.5|        Alice|alice@example.com|2025-05-20 10:10:00|
|        506|       60.0|        Frank|frank@example.com|2025-03-23 17:00:00|
|        502|       30.0|          Bob|  bob@example.com|2025-06-15 14:00:00|
+-----------+-----------+-------------+-----------------+-------------------+

In [ ]:
spend_df = sales_df.withColumn("spend", col("quantity") * col("price")) \
    .groupBy("customer_id").agg(sum("spend").alias("total_spend"))

spend_df = spend_df.withColumn("spend_category",
            when(col("total_spend") >= 200, "High")
           .when(col("total_spend") >= 100, "Medium")
           .otherwise("Low"))

spend_df.join(customer_df, "customer_id").select("customer_name", "total_spend", "spend_category").show()

+-------------+-----------+--------------+
|customer_name|total_spend|spend_category|
+-------------+-----------+--------------+
|          Bob|       30.0|           Low|
|        Alice|       76.5|           Low|
|      Charlie|       30.0|           Low|
|        David|      127.5|        Medium|
|        Frank|       60.0|           Low|
|         Emma|      450.0|          High|
+-------------+-----------+--------------+

In [ ]:
sales_df.groupBy("customer_id") \
    .agg(
        min("sale_date").alias("first_purchase"),
        max("sale_date").alias("last_purchase")
    ).join(customer_df, "customer_id").show()

+-----------+-------------------+-------------------+-------------+-------------------+-------------------+
|customer_id|     first_purchase|      last_purchase|customer_name|              email|          join_date|
+-----------+-------------------+-------------------+-------------+-------------------+-------------------+
|        502|2025-07-11 09:45:00|2025-07-11 09:45:00|          Bob|    bob@example.com|2025-06-15 14:00:00|
|        501|2025-07-10 08:23:00|2025-07-10 08:23:00|        Alice|  alice@example.com|2025-05-20 10:10:00|
|        503|2025-07-12 10:15:00|2025-07-12 10:15:00|      Charlie|charlie@example.com|2025-04-05 09:50:00|
|        504|2025-07-13 12:20:00|2025-07-13 12:20:00|        David|  david@example.com|2025-07-01 12:25:00|
|        506|2025-07-15 16:00:00|2025-07-15 16:00:00|        Frank|  frank@example.com|2025-03-23 17:00:00|
|        505|2025-07-14 14:35:00|2025-07-14 14:35:00|         Emma|   emma@example.com|2025-07-10 15:30:00|
+-----------+-------------------+-------------------+-------------+-------------------+-------------------+

In [ ]:
from pyspark.sql.functions import datediff, current_date, lit

recent_cutoff = "2025-06-28"
sales_recent = sales_df.filter(col("sale_date") > recent_cutoff).select("customer_id").distinct()

customer_df.join(sales_recent, "customer_id", "left_anti").show()

+-----------+-------------+-----+---------+
|customer_id|customer_name|email|join_date|
+-----------+-------------+-----+---------+
+-----------+-------------+-----+---------+

pivot

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode

spark = SparkSession.builder.appName("AdvancedOps").getOrCreate()

data = [
    ("John", ["Python", "Java"]),
    ("Jane", ["SQL", "R", "Scala"]),
    ("Mike", [])
]
columns = ["Name", "Skills"]

df = spark.createDataFrame(data, columns)
df.show(truncate=False)

+----+---------------+
|Name|Skills         |
+----+---------------+
|John|[Python, Java] |
|Jane|[SQL, R, Scala]|
|Mike|[]             |
+----+---------------+

In [ ]:
data = [
    ("ProductA", "Jan", 100),
    ("ProductA", "Feb", 150),
    ("ProductA", "Mar", 120),
    ("ProductB", "Jan", 200),
    ("ProductB", "Feb", 230),
    ("ProductB", "Mar", 210),
]
columns = ["Product", "Month", "Sales"]

df = spark.createDataFrame(data, columns)
df.show()

+--------+-----+-----+
| Product|Month|Sales|
+--------+-----+-----+
|ProductA|  Jan|  100|
|ProductA|  Feb|  150|
|ProductA|  Mar|  120|
|ProductB|  Jan|  200|
|ProductB|  Feb|  230|
|ProductB|  Mar|  210|
+--------+-----+-----+

In [ ]:
pivot_df=df.groupBy("Product").pivot("Month").sum("Sales")
pivot_df.show()

+--------+---+---+---+
| Product|Feb|Jan|Mar|
+--------+---+---+---+
|ProductB|230|200|210|
|ProductA|150|100|120|
+--------+---+---+---+

In [ ]:
wide_df = df.groupBy("Product").pivot("Month").sum("Sales")
unpivot_df = wide_df.selectExpr("Product","stack(3,'Jan',Jan,'Feb',Feb,'Mar',Mar) as (Month,Sales)")
unpivot_df.show()

+--------+-----+-----+
| Product|Month|Sales|
+--------+-----+-----+
|ProductB|  Jan|  200|
|ProductB|  Feb|  230|
|ProductB|  Mar|  210|
|ProductA|  Jan|  100|
|ProductA|  Feb|  150|
|ProductA|  Mar|  120|
+--------+-----+-----+

DATA HANDALING

In [10]:
from pyspark import SparkContext, SparkConf

# Check if a SparkContext already exists, otherwise create a new one
conf = SparkConf().setAppName("MySparkapp").setMaster("local[*]")
sc = SparkContext.getOrCreate(conf=conf)

rdd = sc.parallelize([1, 2, 3, 4, 5])
rdd_mapped = rdd.map(lambda x: x * 2)
print(rdd_mapped.collect())
rdd_filtered = rdd.filter(lambda x: x % 2 == 0)
print(rdd_filtered.collect())
rdd_reduced = rdd.reduce(lambda x, y: x + y)
print(rdd_reduced)
#flatmap
rdd_flatmap = rdd.flatMap(lambda x: range(x, x+4))
print(rdd_flatmap.collect())

[2, 4, 6, 8, 10]
[2, 4]
15
[1, 2, 3, 4, 2, 3, 4, 5, 3, 4, 5, 6, 4, 5, 6, 7, 5, 6, 7, 8]

DATA FRAME

In [11]:
data = [
    (1, "John", "HR", 5000),
    (2, "Jane", "IT", 8000),
    (3, "Mike", "IT", 6000),
    (4, "Sara", "Finance", 7000),
    (5, "David", "HR", 5500)
]

from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("DataFrameOperations").getOrCreate()

# Define column names
columns = ["ID", "Name", "Department", "Salary"]

# Create a DataFrame from the sample data
df = spark.createDataFrame(data, columns)

# Show the DataFrame
df.show()

+---+-----+----------+------+
| ID| Name|Department|Salary|
+---+-----+----------+------+
|  1| John|        HR|  5000|
|  2| Jane|        IT|  8000|
|  3| Mike|        IT|  6000|
|  4| Sara|   Finance|  7000|
|  5|David|        HR|  5500|
+---+-----+----------+------+

In [13]:
df.select("Name", "Salary").show()

+-----+------+
| Name|Salary|
+-----+------+
| John|  5000|
| Jane|  8000|
| Mike|  6000|
| Sara|  7000|
|David|  5500|
+-----+------+

In [16]:
df.filter(df["salary"] > 6000) .show()

+---+----+----------+------+
| ID|Name|Department|Salary|
+---+----+----------+------+
|  2|Jane|        IT|  8000|
|  4|Sara|   Finance|  7000|
+---+----+----------+------+

In [18]:
from pyspark.sql.functions import col
df = df.withColumn("Bonus", col("salary") * 0.1)
df.show()

+---+-----+----------+------+-----+
| ID| Name|Department|Salary|Bonus|
+---+-----+----------+------+-----+
|  1| John|        HR|  5000|500.0|
|  2| Jane|        IT|  8000|800.0|
|  3| Mike|        IT|  6000|600.0|
|  4| Sara|   Finance|  7000|700.0|
|  5|David|        HR|  5500|550.0|
+---+-----+----------+------+-----+

In [19]:
df = df.drop("bouns")
df.show()

+---+-----+----------+------+-----+
| ID| Name|Department|Salary|Bonus|
+---+-----+----------+------+-----+
|  1| John|        HR|  5000|500.0|
|  2| Jane|        IT|  8000|800.0|
|  3| Mike|        IT|  6000|600.0|
|  4| Sara|   Finance|  7000|700.0|
|  5|David|        HR|  5500|550.0|
+---+-----+----------+------+-----+

In [20]:
df = df.withColumnRenamed("Salary","Salary_after_tax")
df.show()

+---+-----+----------+----------------+-----+
| ID| Name|Department|Salary_after_tax|Bonus|
+---+-----+----------+----------------+-----+
|  1| John|        HR|            5000|500.0|
|  2| Jane|        IT|            8000|800.0|
|  3| Mike|        IT|            6000|600.0|
|  4| Sara|   Finance|            7000|700.0|
|  5|David|        HR|            5500|550.0|
+---+-----+----------+----------------+-----+

In [21]:
df.sort(df["salary_after_tax"].desc()).show()

+---+-----+----------+----------------+-----+
| ID| Name|Department|Salary_after_tax|Bonus|
+---+-----+----------+----------------+-----+
|  2| Jane|        IT|            8000|800.0|
|  4| Sara|   Finance|            7000|700.0|
|  3| Mike|        IT|            6000|600.0|
|  5|David|        HR|            5500|550.0|
|  1| John|        HR|            5000|500.0|
+---+-----+----------+----------------+-----+

In [28]:
data_list = df.collect()

for row in data_list:
 print(row)

Row(ID=1, Name='John', Department='HR', Salary_after_tax=5000, Bonus=500.0)
Row(ID=2, Name='Jane', Department='IT', Salary_after_tax=8000, Bonus=800.0)
Row(ID=3, Name='Mike', Department='IT', Salary_after_tax=6000, Bonus=600.0)
Row(ID=4, Name='Sara', Department='Finance', Salary_after_tax=7000, Bonus=700.0)
Row(ID=5, Name='David', Department='HR', Salary_after_tax=5500, Bonus=550.0)

DATA SET

In [31]:
from pyspark.sql import Row
from pyspark.sql.functions import col

rdd = sc.parallelize([Row(name="Alice", age=25), Row(name="Bob", age=30), Row(name="Charlie", age=35)])
df = rdd.toDF()
df.filter(col("age") > 25).show()
df.select("name").show()

+-------+---+
|   name|age|
+-------+---+
|    Bob| 30|
|Charlie| 35|
+-------+---+

+-------+
|   name|
+-------+
|  Alice|
|    Bob|
|Charlie|
+-------+

In [32]:
from pyspark.sql import Row
from pyspark import SparkContext, SparkConf
from pyspark.sql.functions import col

# Get the existing SparkContext
sc = SparkContext.getOrCreate()
rdd = sc.parallelize([Row(name="RAJ", age=23),Row(name="Hari",age=21)])
dataset=spark.createDataFrame(rdd)
dataset.show()
dataset.filter(col("age") > 20).show()
dataset.select("name").show()

+----+---+
|name|age|
+----+---+
| RAJ| 23|
|Hari| 21|
+----+---+

+----+---+
|name|age|
+----+---+
| RAJ| 23|
|Hari| 21|
+----+---+

+----+
|name|
+----+
| RAJ|
|Hari|
+----+

In [33]:
from pyspark.sql import Row
from pyspark import SparkContext, SparkConf

# Initialize SparkConf and SparkContext
# conf = SparkConf().setAppName("MySparkApp").setMaster("local[*]")
# sc = SparkContext(conf=conf)

from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("DataFrameOperations").getOrCreate()

sc = spark.SparkContext

rdd = sc.parallelize([Row(name="Alice", age=25), Row(name="Bob", age=30)])
dataset = spark.createDataset(rdd)
dataset.filter(lambda x: x.age > 25)
dataset.select("name")

AttributeError: 'SparkSession' object has no attribute 'SparkContext'

In [34]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SparkSQLBasics").getOrCreate()

data = [
    (1, "Alice", "Sales", 3000),
    (2, "Bob", "IT", 4000),
    (3, "Cathy", "HR", 3500),
    (4, "David", "Sales", 4500),
    (5, "Eva", "IT", 4200)
]
columns = ["EmpID", "Name", "Department", "Salary"]

df = spark.createDataFrame(data, columns)
df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1|Alice|     Sales|  3000|
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
|    4|David|     Sales|  4500|
|    5|  Eva|        IT|  4200|
+-----+-----+----------+------+

In [36]:
rdd = df.rdd
print("RDD example:", rdd.map(lambda x:(x.Name,x.Salary)).collect())

RDD example: [('Alice', 3000), ('Bob', 4000), ('Cathy', 3500), ('David', 4500), ('Eva', 4200)]

In [38]:
df.createOrReplaceTempView("employees")
result = spark.sql("SELECT Name, Salary FROM employees WHERE Salary > 3500")
result.show()

+-----+------+
| Name|Salary|
+-----+------+
|  Bob|  4000|
|David|  4500|
|  Eva|  4200|
+-----+------+

In [39]:
df.createOrReplaceTempView("employees")
strsql = "SELECT * FROM employees"
sql_result = spark.sql(strsql)
sql_result.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1|Alice|     Sales|  3000|
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
|    4|David|     Sales|  4500|
|    5|  Eva|        IT|  4200|
+-----+-----+----------+------+